@import 'nib'

global-reset()
reset-html5()

html
  height: 100%
  overflow: hidden

body
  background: #000
  padding: 0
  margin: 0

  font-size: 12px
  font-family: Helvetica, sans-serif
  line-height: 1.4em
  color: #fff
  letter-spacing: 1px

.interactive
  cursor: url("../assets_website/cursor2.png"), auto

a, a:link, a:visited
  color: #fff
  text-decoration: none
  transition-property("all")
  transition-duration(0.2s)

a:hover, a:focus
  color: #f55
  text-decoration: underline
  
hr
  border: 0
  height: 1px
  background: rgba(255,255,255,0.2)
  margin: 10px 0

#quality, #colors
  position: relative
  width: 320px
  text-align: center
  margin: 305px auto 0 auto
  font-size: 10px

#quality a
  padding: 0 7px

a.close
  text-decoration: none
  display: block
  width: 20px
  height: 20px
  background: url("../assets_website/close2.png") no-repeat 4px 4px
  position: absolute
  top: 5px
  right: 5px
  font-size: 0
  text-indent: -9999px

  opacity: 0.6
  transition-property("all")
  transition-duration(0.2s)
  &:hover
    opacity: 1

#colors
  p
    display: inline-block
    line-height: 22px
  a
    font-size: 0
    text-indent: -9999px
    display: inline-block
    width: 14px
    height: 14px
    border-radius: 7px
    margin: 8px
    transition-property: "all"
    transition-duration: 0.12s
    &:hover
      border-radius: 0px
      -webkit-transform: rotateX(0deg) rotateY(0deg)
  .blue
    background: #5ca3ff
    margin-left: 12px
  .orange
    background: #ffd55c
  .green
    background: #e0ff5c
  .pink
    background: #ff5cf7

#loader_wrapper
  position: absolute
  opacity: 0
  overflow: visible
  height: 462px + 74px
  width: 100%
  min-width: 750px
  top: 50%
  margin-top: -231px - 32px - 50px
  background: #000 url("../assets_website/bg6.jpg") no-repeat 50% -48px


header
  position: relative
  width: 372px
  height: 462px
  margin: 80px auto
  background: url("../assets_website/separator.png") no-repeat 38px 5px
  opacity: 0

  h1, h2
    font-size: 0
    text-indent: -9999px
    position: absolute
  h1
    width: 91px
    height: 10px
    background: url("../assets_website/soulsonic.png") no-repeat
    left: 20px
    top: 248px
    opacity: 0
  h2
    width: 211px
    height: 28px
    background: url("../assets_website/walk.png") no-repeat
    left: 145px
    top: 233px
    opacity: 0

.error header
  margin-top: -100px


#preloader
  position: absolute
  background: url("../assets_website/loading.png") no-repeat center 0
  width: 92px
  height: 9px + 16px
  top: 305px
  left: 142px
  opacity: 0
  .line
    width: 92px
    height: 16px
    margin-top: 6px
    background: url("../assets_website/preloader_line.png") no-repeat 0 0

#start
  position: absolute
  width: 60px
  height: 9px + 8px
  overflow: visible
  
  display: block
  cursor: pointer
  font-size: 0
  text-indent: -9999px
  background: url("../assets_website/start.png") no-repeat 0 4px
  top: 301px
  left: 155px
  opacity: 0

  .arrow
    display: block
    position: absolute
    top: 3px
    left: 50px
    width: 12px
    height: 9px
    background: url("../assets_website/start_arrow.png") no-repeat 0 0
    opacity: 0.4

    transition-duration(0.15s)
    transition-property("opacity, left", 0.2s)
  &:hover .arrow
    opacity: 0.7
    left: 54px

#message, #credits
  background: #000
  background: rgba(0,0,0,0.8)
  padding: 20px 30px
  color: #ccc
  position: absolute
  margin: auto
  margin-top: -270px
  width: 330px
  left: 50%
  margin-left: -190px
  top: 450px

  line-height: 1.6em
  border-radius: 6px
  font-size: 11px
  text-shadow: 0px 0px 3px #000000;
  filter: dropshadow(color=#000000, offx=0, offy=0);
  
  a
    font-weight: 700
    text-decoration: underline

h3
  font-size: 11px
  font-weight: bold
  color: #fff

#credits
  z-index: 999
  width: 400px
  margin-left: -225px
  p
    padding-bottom: 10px

footer
  width: 100%
  text-align: right
  text-transform: uppercase
  letter-spacing: 1px
  font-size: 8px
  color: #aaa
  position: absolute
  bottom: 0px
  left: 0px
  opacity: 0

  p
    margin: 0 40px
    padding-bottom: 10px
  a.exp
    text-decoration: none !important
    display: block
    font-size: 0
    text-indent: -9999px
    color: transparent
    width: 107px
    height: 55px
    float: left
    margin-top: 14px
    margin-left: 40px
    background: url("../assets_website/ce.png") no-repeat 0 0

a.share
  display: inline-block
  font-size: 0
  text-indent: -9999px
  text-decoration: none !important
  color: transparent !important
  width: 20px
  height: 20px
  margin: 0 5px
  line-height: 26px

  .lt-ie9 &
    margin-top: -20px

  opacity: 0.35
  transition-property("all")
  transition-duration(0.2s)

  &:hover
    opacity: 1
a.google
  background: url("../assets_website/google.png") no-repeat 0 0
a.facebook
  background: url("../assets_website/facebook.png") no-repeat 0 0
a.twitter
  background: url("../assets_website/twitter.png") no-repeat 0 0
  margin-right: 0

#replay
  position: absolute
  z-index: 800
  top: 50%
  display: block
  width: 100%
  text-align: center
  text-transform: uppercase
